<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<typeAliases>
		<typeAlias type="go.to.mars.vo.UserVO"  alias="user" />
		<typeAlias type="go.to.mars.vo.ProductVO"  alias="product" />
		<typeAlias type="go.to.mars.vo.CartVO"  alias="cart" />
		<typeAlias type="go.to.mars.vo.BuyinfoVO"  alias="buyinfo" />
		<typeAlias type="go.to.mars.vo.SellVO"  alias="sell" />
		<typeAlias type="go.to.mars.vo.ContactVO" alias="contact"/>
	</typeAliases>
	<mappers>
		<mapper resource="mapper/userMapper.xml" />
		<mapper resource="mapper/productMapper.xml" />
		<mapper resource="mapper/managerMapper.xml" />
	</mappers>
</configuration>
